<h3>新規登録編集ページ</h3>
<%= form_for @user, url: user_path(@user.id), html: { method: :patch } do |f| %>
<p>ニックネーム:<%= f.text_field :nickname %></p>
<p>年齢:<%= f.text_field :age %></p>
<p>性別:<%= f.text_field :sex %></p>
<input type="submit" value="送信">
<% end %>
