<h3>お薬ご提案アプリ</h3>
  <% @users.each do |user| %>
   <p>ニックネーム:<%= user.nickname %></p>
   <p>年齢:<%= user.age %></p>
   <p>性別:<%= user.sex %></p>
  <%= link_to "相談者様詳細情報へ", user_path(user.id) %>
  <% end %>
  

  