<h3>あなたのおすすめはこちら!!</h3>
  <% @user.pharmacies.each do |pharmacy| %>
    <% case pharmacy.disease %>
    <% when "喉が痛い" %>
     <%= "お客様は#{pharmacy.medical.name}はいかがでしょうか。" %>
    <% when "熱がある" %>
    <%= "お客様は#{pharmacy.medical.name}はいかがでしょうか。" %>
    <%= link_to "amazonで買う", "http://urx3.nu/7OOW", class: 'btn btn-primary' %>
    <% else %>
     <br>
     <%= "お客様、#{pharmacy.disease}でお困りでしたら以下の商品等はいかがでしょうか" %>
    <br>
      
  <% end %>
 <% end %>

